@charset "UTF-8";
@import 'mixset.scss';

.header {  
    // position: fixed; 
    // background-color: $color_white;
    // top: 0;
    // left: 0;
    // z-index: 5000; 
    // position: relative;
    // 네비게이션 호버시 배경 dim 효과

    .nav_dim {
        display: block;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        transition-property: visibility, opacity;
        transition-duration: 0.1s;
        transition-timing-function: linear;
    }

    .wrap_gnb {
        width: 100%;
        position: absolute;
        z-index: 1000;
    }

    .header_inner {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2000; 
    }
}

 /* PC 버전 GNB */
.gnb_pc {
     /* 헤더 최상단 화면 크기 제어 + 로그인 버튼 영역 */
    .area_top {
        width: 100%;
        height: 4rem;
        background-color: $color_white;
        border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
        
        &.gnb_scroll_change
        {
            background-color: rgba(0, 0, 0, 0.3);
            border-bottom: 1px solid  rgba(255, 255, 255, 0.1);
        }

        &.gnb_mouse_over {
            background-color: $color_white;
            border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
        }

        .area_top_inner {
            display: flex;
            justify-content: space-between;
            align-items: center;               
            height: 100%;
            padding: 0 4rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin: 0 auto;
            overflow: hidden;
            // margin-left: auto;
        }

        // 상단 누리집  
        .gov_top_info {
            p {
                height: 40px;
                line-height: 40px;
                // max-width: 1200px;
                margin: 0 auto;
                font-family: $font_medium;
                font-size: 14px;
                padding-left: 52px;
                color: $color_111;                    
                background: url("../img/logo/logo_eg.png") no-repeat center left;                     
            
                &.gnb_scroll_change {
                    color: $color_white;
                }

                &.gnb_mouse_over {
                    color: $color_111;   
                }
            }
        }

        // 상단 유틸메뉴 (사이트맵, 화면크기 조정 등)
        .box_btns {
            display: flex;
            align-items: center;
            color: $color_white;
            font-size: 1.4rem;

            li {
                position: relative;
                padding: 0px 2rem;
                color: $color_111;
                border-right: 1px solid $color_111;
                font-family: $font_medium;
                
                &.gnb_scroll_change {                    
                    color: $color_white;
                    border-right: 1px solid $color_white;
                }

                &.gnb_mouse_over {
                    color: $color_111;
                    border-right: 1px solid $color_111;
                }

                &:last-of-type {
                    border-right: none;
                }                

                &:nth-last-child(1) {
                    padding-right: 0;                        

                    &::after {
                        display: none;
                    }

                    span {
                        padding-right: 0.8rem;
                    }
                }
            }
        }

        .box_btn_zoom {
            display: flex;
            align-items: center;

            .btn_zoom {
                width: 1.9rem;
                height: 1.9rem;
                margin-left: 0.6rem;                  
                color: white;
                background-image: url("../img/icon/icon_plus_black.svg");
                background-position: center center;
                background-size: 1.8rem 1.8rem;
                background-repeat: no-repeat;
                
                &.gnb_scroll_change {                   
                    background-image: url("../img/icon/icon_plus_white.svg");
                }

                &.gnb_mouse_over {
                    background-image: url("../img/icon/icon_plus_black.svg");
                }

                // &.in { }
                &.out {
                    background-image: url("../img/icon/icon_minus_black.svg");
                    background-position: center center;
                    background-size: 1.8rem 1.8rem;
                
                    &.gnb_scroll_change {
                        background-image: url("../img/icon/icon_minus_white.svg");
                    }

                    &.gnb_mouse_over {
                        background-image: url("../img/icon/icon_minus_black.svg");
                    }
                }

                &.reset {
                    background-image: url("../img/icon/icon_refresh_black.svg");
                    background-position: center center;
                    background-size: 1.8rem 1.8rem;
                    
                    &.gnb_scroll_change {
                        background-image: url("../img/icon/icon_refresh_white.svg");
                    }

                    &.gnb_mouse_over {
                        background-image: url("../img/icon/icon_refresh_black.svg");
                    }
                }
            }
        }
    }

    /* 모바일 상단 로그인 상태창 */
    .area_state {
        display: none;
        //     .user_info {
        //     display: none;
        // }
    }

    /* 메뉴 영역 */
    .area_menu {
        position: relative;
        width: 100%;           
        height: 100%;
        // height: 7rem;
        margin: 0 auto;
        background-color: $color_white;

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.1);
            top: 69px;
        }

        .area_menu_inner {
            position: relative;
            display: flex;
            width: 100%;
            padding: 0 4rem;
            margin: 0 auto;        

            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 70px;
                margin-right: 10.8rem;

                .logo_anchor {
                    display: inline-block;
                    width: 20.8rem;
                    height: 3rem;
                    vertical-align: middle;
                    background-image: url("../img/logo/logo_openservice_main.png");
                    background-position: center left;
                    background-repeat: no-repeat;
                    background-size: 100% 3rem;
                    object-fit: contain;
                    
                    &.gnb_scroll_change {
                        background-image: url("../img/logo/logo_openservice_white.png");
                    }

                    &.gnb_mouse_over {
                        background-image: url("../img/logo/logo_openservice_main.png");
                    }
                }
            }
        }
        
        &.gnb_scroll_change {
            background-color: rgba(0, 0, 0, 0.3);
        }

        &.gnb_mouse_over {
            background-color: $color_white;
        }
    }

    /* lnb 메뉴 */
    .menu_text {
        // background-color: $color_white;
        position: relative;
        width: 100%;
        height: 100%;

        .lnb_list {
            display: flex;
            width: 100%;
            position: relative;   

            .depth01 {
                position: relative;     
                max-width: 24rem;                  
              /*   min-width: 19rem;   */

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 1px;
                    height: calc(100% - 7.2rem);
                    bottom: 0;
                    left: 0;                       
                }

                &:nth-last-of-type(1) {
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 1px;
                        height: calc(100% - 7.2rem);
                        bottom: 0;
                        right: 0;
                    }

                    &:hover {
                        .depth01_item {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }

                &.on,
                &:hover {                   
                    .depth01_item {
                        position: relative;
                     /*    background-color: $color_white; */
                        color: $color_brand_main;
                        cursor: pointer;

                        // depth01_item li 하단 선
                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            width: calc(100% + 1px);
                            height: 4px;
                            bottom: 0;
                            left: 0;
                            z-index: 1010;
                            background-color: $color_brand_main;
                            color: $color_brand_main;
                        }
                    }
                }
            }

            .depth01_item {
                position: relative;
                width: 100%;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 18px;
                font-family: $font_bold;   
                color: $color_111;                 

                .depth01_item_anchor {
                    line-height: 2;   
                }                            
                
                &.gnb_scroll_change {                        
                    color: $color_white;  
                }

                &.gnb_mouse_over {
                    color: $color_111;                        
                }
            }

            .depth01 { 
                &:nth-of-type(1) {
                    width: 19rem;   
                    transition: width 0.2s ease-in-out;
                }

                &:nth-of-type(2) {                         
                    .depth01_item {                           
                        padding-left: 4rem;
                        transition: padding-left 0.3s ease-in-out;
                    }                        
                } 

                &:nth-of-type(3) {
                    .depth01_item {                           
                        padding-left: 4rem;
                        transition: padding-left 0.3s ease-in-out;
                    }             
                    .depth02 {
                        padding: 1rem 4.3rem;
                    }
                }

                &:nth-of-type(4) {                   
                    .depth01_item {        
                        padding-left: 4rem;
                        transition: padding-left 0.3s ease-in-out;
                    } 
                    .depth02 {
                        padding: 1rem 4.3rem;
                    }
                }

                &.gnb_mouse_over {
                    &:nth-of-type(1) {
                        width: 21rem;   
                    }

                    &:nth-of-type(2) {                          
                        .depth01_item  {
                            padding-left: 0rem;
                        }
                    }

                    &:nth-of-type(3) {                           
                        .depth01_item  {
                            padding-left: 0rem; 
                        }
                    }

                    &:nth-of-type(4) {                          
                        .depth01_item  {
                            padding-left: 0rem;
                            
                        }
                    }
                }
            } 

            .depth02 {
                display: none;  
                position: relative;
                text-align: left;
                word-break: keep-all;
                width: 100%;
                max-width: 24rem;  
                min-width: 21rem; 
                height: 19.4rem;  
                padding: 1rem 3.8rem;  
                margin: 3rem 0;   
                
                &::before   {
                    content: '';
                    //display: block;
                    position: absolute;
                    width: 1px;
                    background-color: $color_eee;
                    height: 100%;
                    left: 0;
                    top: 0;
                }                     

                .depth02_item {                       
                    z-index: 100;        
                    
                    .depth02_item_anchor {                           
                        margin-top: 2.6rem;                      
                        font-size: 16px;
                        font-family: $font_medium;
                        line-height: 1.5;

                        &:hover,
                        &.on {
                            color: $color_brand_main;
                        }
                    }

                    &:nth-of-type(1) .depth02_item_anchor{                            
                        margin-top: 0;
                    } 
                }

                &.column_2 {                        
                    overflow: hidden;                                   

                    .depth02_item {
                        float: left;             
                        width: auto;                         

                        .depth02_item_anchor {
                            display: inline-block;
                            width: auto;
                        } 

                        &:nth-of-type(1) {
                            a {
                                margin-top: 0;
                            }
                        }

                        &:nth-of-type(2) {
                            a {
                                margin-top: 0;
                            }
                        }

                        &:nth-of-type(2n+1) {
                            width: 40%;
                        }
                        &:nth-of-type(2n) {
                            width: 60%;
                        }
                    }
                }
            }

            &.gnb_mouse_over {
                gap: 0;
            }
        }
    }   
    
    .lnb_drop_menu_back {
        display: none;
        background-color: $color_white;
        position: absolute;
        top: 70px;
        width: 100%;
        height: 25.4rem;
        z-index: -1;
    }
    .box_btn_util {
        display: none;
    }
}

/* mobile 버전 GNB */
.gnb_mo {
    height: 8.4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;

    .bg_lnb {
        display: none;
    }   

    .nav_dim {
        top: 0;           
    }

    .wrap_gnb {
        z-index: auto;
    }

    // LNB - MOB open
    // gnb_mob + 좌측 LNB 열기 
    &.on {
        .wrap_menus {
            // min-width: 50%;
            width: 84%;
            max-width: 315px;
            height: 100dvh;          
            transition: ease-in-out 0.25s;
        }  
        
        .nav_dim {
            top: 0;
            z-index: 2001;
        }

        .wrap_gnb {
            z-index: auto;
        }

        .wrap_menus {
            z-index: 2030;
        }
    }

    .area_top .box_btns {
        display: none;
    }

    .gov_top_info {
        background-color:$color_white;
        width: 100%;
        height: 2.8rem;
        padding: 0 16px;
        border-bottom: 1px solid $color_ddd;
        position: absolute;
        // position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        display: flex;
        align-items: center;
    
        p {                    
            line-height: 1;
            font-size: 1.2rem;
            padding-left: 22px;
            color: $color_111;
            background: url("../img/logo/logo_eg.png") no-repeat center left;
            background-size: 22px;
        }
    }            

    .area_menu {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #ddd;          

        .area_menu_inner {
            // position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;
            width: 100%;
            height: 8.3rem;
            padding: 4.3rem 1.4rem 1.8rem;
            background-color: $color_white;              
        }

        .logo {
            display: flex;
            align-items: center;              

            .logo_anchor {
                display: inline-block;
                background-image: url("../img/logo/logo_openservice_main.png");
                background-position: center left;
                background-repeat: no-repeat;
                background-size: contain;
                width: 14rem;
                height: 2rem;
            }
        }

        .box_btn_util {
            display: block;
            // height: 100%;               
            width: 2.5rem;
            gap: 0rem;

            .box_btn_item {
                .btn_util_sitemap {
                    display: none;
                }

                .btn_util_ham {
                    display: block;
                    position: relative;
                    width: 2.4rem;
                    height: 2.2rem;

                    &::after {
                        width: 100%;
                        height: 100%;
                        background-image: url("../img/icon/icon_ham.png");
                        @include bg_after();
                    }
                }
            }
        }
    }

    /* LNB */
    .menu_text {          

        .lnb_list {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            top: 0;
            width: 100%;
            overflow-y: auto;

            .depth01 {
                width: 100%;
                background-color: $color_white;

                .depth01_item {
                    position: relative;
                    line-height: 5rem;
                    font-size: 1.6rem;
                    border-bottom: 1px solid $color_ddd;
                    font-family: $font_medium;
                    text-indent: 2rem;
                    cursor: pointer;

                    &::after {
                        display: block;
                        position: absolute;
                        content: '';
                        top: 50%;
                        right: 2.45rem;
                        transform: translateY(-50%);
                        width: 1.5rem;
                        height: .95rem;
                        background-image: url("../img/icon/icon_mob_chevron_down.png");
                        background-position: right center;
                        background-repeat: no-repeat;
                        background-size: 100%;
                    }
                }

                &.on {
                    .depth01_item {
                        &::after {
                            transform: rotate(180deg) translateY(50%);
                        }
                    }
                }
            }

            .depth02 {
                display: none; 
                width: 100%;
                background-color: #edf2fc;
                border-bottom: 1px solid $color_ddd;
                padding: 3rem 4rem;

                &.on {
                    span {
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -0.4rem;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            background-color: $color_white;
                        }
                    }
                }

                .depth02_item {
                    position: relative;
                    line-height: 1;
                    font-size: 1.6rem;
                    font-family: $font_medium;
                    word-break: keep-all;

                    &:not(:nth-last-of-type(1)) {
                        margin-bottom: 20px;
                    }

                    &.item_toggle {
                        &::after {
                            display: block;
                            position: absolute;
                            top: 1.4rem;
                            right: 0;
                            width: 1.2rem;
                            height: 1.2rem;
                            background-image: url("../../public/img/icons/icon_plus.png");
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 100%;
                            content: '';
                        }
                    }
                }
            }

        }
    }

    .wrap_menus {
        width: 0;
        height: 100dvh;
        min-height: 100dvh;
        z-index: 2020;
        /* 100vh; 크로스 브라우징 */
/*             @supports (-webkit-appearance:none) and (stroke-color: transparent) {
            min-height: -webkit-fill-available;
        } */    
        background-color: $color_white;
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;

        // 모바일 상단 로그인 상태창 
        .area_state {
            position: relative;
            width: 100%;
            padding: 2rem 2rem 2.4rem;
            background-color: #faf9fe;
            border-bottom: 1px solid $color_ddd;

            .btn_close_menu {
                position: absolute;
                z-index: 6000;
                top: 2rem;
                right: 2rem;
                width: 2.5rem;
                height: 2.5rem;
                background-image: url("../img/icon/icon_close.png");
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
            }

            .user_info {
                position: relative;

                .logo_lnb {
                    text-align: center;
                    margin-top: 4rem;
                    width: auto;
                    height: 2.7rem;

                    img {
                        width: auto;
                        height: 100%;
                        object-fit: cover;
                        margin: 0 auto;
                    }

                    a {
                        img {
                            width: auto;
                            height: 100%;
                            object-fit: cover;
                            margin: 0 auto;
                        }
                    }
                }

            
                .box_state {
                    width: 100%;
                    padding-top: 2.1rem;

                    .greeting {
                        color: $color_111;
                        font-size: 1.4rem;
                        text-align: center;
                        line-height: 1.5;
                        margin-bottom: 0.5rem;
                    }

                    .wrap_gnb_btn {
                        display: flex;
                        justify-content: center;

                        .btn_action {
                            width: 16.5rem;
                            height: 3.5rem;
                            border-radius: 8rem;
                            position: relative;
                            font-size: 1.4rem;
                            text-indent: 1.5rem;
                            line-height: 3.5rem;                               

                            &.link_related_white {
                                &::after {
                                    content: "";
                                    position: absolute; 
                                    right: 1.4rem;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    width: 2rem;
                                    height: 2rem;
                                    background-image: url("../img/icon/icon_outbound_white.svg");
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                }
                            }
                        }
                    }

                    .user_auth_state {
                        color: $color_aaa;
                        text-align: center;
                        margin-top: 1rem;
                    }

                    .box_btn_info {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 23rem;
                        margin: 0 auto;
                        margin-top: 1.5rem;

                        .btn_info {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 11rem;
                            height: 3rem;
                            border-radius: 0.35rem;
                            color: $color_111;
                            text-align: center;
                            background-color: $color_111;
                        }
                    }
                }

            
                .area_profile {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    width: 100%;
                    gap: 1.5rem;

                    .wrap_img_profile {
                        overflow: hidden;
                        position: relative;
                        width: 5rem;
                        height: 5rem;
                        border-radius: 50%;
                        background-color: $color_brand_main;

                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            // background: url("https://startbootstrap.github.io/startbootstrap-sb-admin-2/img/undraw_profile.svg");
                        }
                    }

                    .wrap_txt_profile {
                        width: calc(100% - 6.5rem);
                        font-family: $font_regular;

                        h3 {
                            width: 100%;
                            color: $color_white;
                            font-size: 1.8rem;
                        }

                        // .user_name {
                        // }

                        .user_auth_state {
                            width: 100%;
                            margin-top: 1rem;
                            color: $color_aaa;
                            font-size: 1.4rem;
                        }
                    }
                }

                .user_btns {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 2rem;
                    gap: 1rem;
                }
            }
        }
    }
}

html.open_lnb {
    body {
        overflow: hidden;
        touch-action: none;
    }

    .header {
        .nav_dim {
            opacity: 1;
            visibility: visible;
            overflow: hidden !important;
            touch-action: none;
        }
    }
    
    .gnb_pc {
        .area_menu {
            &::after {
                content: '';
                display: block;
                position: absolute;
                z-index: 1000;
                width: 100%;
                height: 1px;
                background-color: $color_ddd;
                bottom: 0;
            }
        }
    }
}


@media all and (max-width: 1501px) {
    // .header {
    // }
    .gnb_pc {
        .area_menu {
            .area_menu_inner {
                .logo {
                    margin-right: 6.8rem;
                }
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////

@media all and (max-width: 1391px) {

    .header {
        width: 100%;
    }

    /* 메뉴 영역 */
    .gnb_pc {
        .area_top .area_top_inner {
            padding: 0 2%;
        }
        .area_menu {               
            .area_menu_inner {            
                padding: 0 2%;

                .logo {                
                    margin-right: 6rem;

                    .logo_anchor {
                        width: 18rem;
                        height: 2.6rem;
                        background-size: 100% 2.6rem;
                    }
                }
            }
        }


        /* lnb 메뉴 */
        .menu_text {    
            .lnb_list {

                .depth01 {                         
                    &:nth-of-type(1) {
                        /* width: auto; */

                        .depth02 {
                            min-width: 17rem;
                            padding: 1rem 3.3rem;
                        }
                    }
                    &:nth-of-type(2) {
                        .depth01_item {
                            padding-left: 5rem;
                        } 
                        .depth02 {
                            min-width: 16rem;
                            padding: 1rem 3.3rem;
                        }
                    }
                    &:nth-of-type(3) {
                        .depth01_item {
                            padding-left: 5rem;
                        }                         
                        .depth02 {
                            min-width: 16rem;
                            padding: 1rem 3.3rem;
                        }
                    }
                    &:nth-of-type(4) {
                        .depth01_item {
                            padding-left: 5rem;
                        } 
                        .depth02 {
                            min-width: 16rem;
                            padding: 1rem 3.3rem;
                        }
                    }

                    &.gnb_mouse_over {
                        &:nth-of-type(2) {
                            width: 21rem;
                        }
                    }
                } 

                .depth02 {
                  /*   display: none; */
                    min-width: 16rem;
                    padding: 1rem 2.4rem;       

                    .depth02_item {                      
                        .depth02_item_anchor {                           
                            margin-top: 2.4rem;                      
                        } 
                    }
                }
            }
        }
    }

}

//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
/// 
// @media all and (max-width: 1100px) {

// }

