@charset "UTF-8";
.flex_center {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/* font size */
/* 스크롤바가 나타날 경우 오른쪽 패딩 추가 */
/* html,
body,
.wrapper {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
} */
.only_mob {
  display: none !important;
}

.only_pc {
  display: block !important;
}

.content {
  width: 100%;
}

.section {
  width: 96rem;
  margin-left: auto;
}

.wrapper {
  position: relative;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.wrapper .inner {
  width: 120rem;
  margin: 0 auto;
}
.wrapper .popup_layer .inner {
  width: 100%;
}

.page {
  margin-top: 4rem;
  padding-bottom: 4rem;
}

.page_title {
  width: 100%;
  color: #111;
  font-family: "NotoSansBold", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 3.2rem;
  display: block;
  text-align: center;
}
.page_title.page_title_list {
  height: 51px;
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2rem;
}

.page_content {
  word-break: keep-all;
}

/* 상단 카테고리 타이틀 영역  */
.main {
  width: 120rem;
  min-height: calc(100vh - 50.2rem);
  margin: 0 auto;
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  gap: 4rem;
}

/* 좌측 사이드 메뉴 */
.aside {
  width: 20rem;
  height: 100%;
  margin-right: auto;
}

.inner_aside {
  width: 20rem;
  margin-top: 4rem;
  background-color: #fff;
}
.inner_aside .side_title {
  position: relative;
  width: 100%;
  height: 4.2rem;
  font-size: 2.4rem;
  font-family: "NotoSansBold", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  text-indent: 1rem;
}
.inner_aside .side_title::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #111;
  bottom: 0;
}
.inner_aside .aside_lnb {
  word-break: keep-all;
}
.inner_aside .aside_lnb .depth01 {
  padding-top: 0.7rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}
.inner_aside .aside_lnb .depth01 .depth01_item {
  position: relative;
  width: 100%;
  font-size: 16px;
}
.inner_aside .aside_lnb .depth01 .depth01_item:not(:nth-of-type(1)) {
  margin-top: 0.9rem;
}
.inner_aside .aside_lnb .depth01 .depth01_item .currently {
  width: 100%;
  height: 100%;
  background-color: #edf2fc;
  border-radius: 6px;
  font-family: "NotoSansMedium", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
.inner_aside .aside_lnb .depth01 .depth01_item .currently::after {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 2rem;
  width: 0.6rem;
  height: 1rem;
  background: url("../../public/img/icons/icon_chevron_right_bl.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.inner_aside .aside_lnb .depth01 .depth01_item a {
  width: 100%;
  height: 100%;
  line-height: 1.5;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  padding-right: 4rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

/* footer  */
.footer {
  width: 100%;
  background-color: #333;
  color: #aaa;
  min-height: 15.2rem;
  font-size: 1.4rem;
  font-family: "NotoSansRegular", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
.footer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 142rem;
  min-height: 15.2rem;
  margin: 0 auto;
  padding: 3rem 0 1.8rem;
}
.footer .area_open_logo {
  width: 26.5rem;
  margin-right: 3rem;
}
.footer .area_open_logo img {
  width: 100%;
}
.footer .area_address {
  line-height: 1.5;
}
.footer .area_address .list_address {
  margin-bottom: 2.2rem;
}
.footer .area_address .list_address .list_address_item:last-of-type {
  margin-bottom: 0;
}
.footer .area_address .list_address .list_address_item .only_pc_inline {
  display: inline;
}
.footer .area_address .list_address .list_address_item .only_mob_inline {
  display: none;
}
.footer .area_other_logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-top: 1.8rem;
}
.footer .area_other_logo img:nth-of-type(1) {
  height: 2.6rem;
}
.footer .area_other_logo img:nth-of-type(2) {
  height: 2.6rem;
  margin-left: 4rem;
}
.footer .area_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-left: auto;
}
.footer .area_links .wrap_select_family {
  position: relative;
  background-color: transparent;
  width: 20rem;
  height: 4rem;
  line-height: 3.8rem;
  background-image: url("../img/icon/icon_chevron_down_gray.svg");
  padding: 0 3.1rem 0 1.9rem;
  background-position: center right 14px;
  background-repeat: no-repeat;
  background-size: 1.2rem 0.7rem;
  background-size: 1.5rem 0.7rem;
  border: 1px solid #777;
  font-size: 1.4rem;
  border-radius: 2px;
  color: #aaa;
  cursor: pointer;
}
.footer .area_links .wrap_select_family.toggle {
  background-image: url("../img/icon/icon_chevron_up_gray.svg");
}
.footer .area_links .wrap_select_family ul {
  background: #333;
  border: 1px solid #777;
  border-bottom: 0;
  bottom: 40px;
  left: 0;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  display: none;
}
.footer .area_links .wrap_select_family ul li {
  margin-bottom: 10px;
}
.footer .area_links .wrap_select_family ul li:last-child {
  margin-bottom: 0;
}
.footer .area_links .wrap_select_family ul li a {
  color: #aaa;
  display: block;
  padding: 0 19px;
}
.footer .area_links .wrap_select_family ul li a:hover {
  color: #fff;
}

/* top 버튼 */
.wrap_top_btn {
  position: fixed;
  right: 8rem;
  bottom: 4rem;
  z-index: 100;
}
.wrap_top_btn a {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px rgba(37, 53, 121, 0.2);
          box-shadow: 0px 0px 10px rgba(37, 53, 121, 0.2);
}
.wrap_top_btn a::after {
  content: "";
  position: absolute;
  width: 6rem;
  height: 6rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/icon/icon_top.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.bar_dash::after {
  width: 1.85rem;
  height: 2rem;
  line-height: 3rem;
}

/*  탭 공통사항 */
.tab_contents {
  display: none;
}
.tab_contents.on {
  display: block;
}

.tab_contents_item {
  display: none;
}
.tab_contents_item.on {
  display: block;
}

/* box_scroll */
.pic {
  position: relative;
}

.scroller .box_scroll {
  position: relative;
}
.scroller .box_scroll:hover {
  opacity: 0.5;
}
.scroller .box_scroll .scroll_anchor {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: -5rem;
  margin-left: -5rem;
  background: #111;
  width: 10rem;
  height: 10rem;
  padding: 4rem 2rem;
  border-radius: 50%;
  font-size: 0.5rem;
  display: block;
  -webkit-box-shadow: 0px 0px 5px 0px #333;
          box-shadow: 0px 0px 5px 0px #333;
  padding-top: 70px;
}
.scroller .box_scroll .scroll_anchor span {
  float: left;
  position: relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 37px 37px 0 37px;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transform: rotate(360deg);
}
.scroller .box_scroll .scroll_anchor span::after {
  content: "";
  position: absolute;
  top: -32px;
  left: -37px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 37px 37px 0 37px;
  border-color: #111 transparent transparent transparent;
  -webkit-transform: rotate(360deg);
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
            transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
            transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.section {
  /* 서비스 본문 영역 */
}
.section.service {
  /* 상단 따옴표 */
}
.section.service .wrap_page_title_quot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 5.2rem;
  word-break: keep-all;
}
.section.service .wrap_page_title_quot .page_title_quot {
  line-height: 1.5;
  color: #111;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  font-family: "NotoSansBold", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 3.2rem;
  padding: 0 6rem;
  position: relative;
}
.section.service .wrap_page_title_quot .page_title_quot::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 4.1rem;
  height: 3.7rem;
  background-image: url("../../public/img/icons/quot.png");
}
.section.service .wrap_page_title_quot .page_title_quot::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 4.1rem;
  height: 3.7rem;
  background-image: url("../../public/img/icons/quot.png");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media all and (max-width: 1421px) {
  .aside {
    display: none;
  }
  .main {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .section {
    width: 100%;
  }
  .section.join.terms .page_join_terms {
    padding: 0 2%;
  }
  .section_title.service .box {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .page_content .wrap_table {
    max-width: 100%;
  }
  /* footer  */
  .footer .inner {
    width: 100%;
    padding: 3rem 2% 1.8rem;
  }
  .footer .area_open_logo {
    width: 20rem;
    margin-right: 3rem;
  }
  .footer .area_open_logo img {
    width: 100%;
  }
  /* top 버튼 */
  .wrap_top_btn {
    position: fixed;
    right: 3%;
    bottom: 4rem;
    z-index: 100;
  }
}
@media all and (max-width: 1120px) {
  .footer .area_address {
    line-height: 1.5;
  }
  .footer .area_address .list_address {
    margin-bottom: 2.2rem;
  }
  .footer .area_address .list_address .list_address_item:last-of-type {
    margin-bottom: 0;
  }
  .footer .area_address .list_address .list_address_item .only_pc_inline {
    display: none;
  }
  .footer .area_address .list_address .list_address_item .only_mob_inline {
    display: block;
  }
}
/* tablet  (큰 태블릿 가로 사이즈 ~ 작은 태블릿 가로 사이즈)  */
@media all and (max-width: 1025px) {
  .only_pc {
    display: none !important;
  }
  .only_mob {
    display: block !important;
  }
  .main {
    width: 100%;
    padding: 0 2%;
  }
  .section {
    width: 100%;
  }
  .section.join.terms .page_join_terms {
    padding: 0 2%;
  }
  .section {
    width: 100%;
    margin-left: unset;
    margin: 0 auto;
  }
  .aside {
    display: none;
  }
  .page_title.page_title_list {
    font-size: 30px;
  }
  /* top 버튼 */
  .wrap_top_btn {
    position: fixed;
    right: 1.4rem;
    bottom: 3rem;
    z-index: 100;
  }
  .wrap_top_btn a {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 4.6rem;
    height: 4.6rem;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 10px rgba(37, 53, 121, 0.2);
            box-shadow: 0px 0px 10px rgba(37, 53, 121, 0.2);
  }
  .wrap_top_btn a::after {
    content: "";
    position: absolute;
    width: 4.5rem;
    height: 4.5rem;
    background-image: url("../img/icon/icon_top.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
  /* footer  */
  .footer {
    width: 100%;
    background-color: #333;
    color: #aaa;
    min-height: 35rem;
    font-size: 1.4rem;
    font-family: "NotoSansRegular", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }
  .footer .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    /*    min-height: 35rem; */
    margin: 0 auto;
    padding: 2.4rem 1.4rem 5rem;
    text-align: center;
  }
  .footer .area_open_logo {
    width: 19.2rem;
    margin: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 2.4rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer .area_open_logo img {
    width: 100%;
  }
  .footer .area_address {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: auto;
    line-height: 1.5;
  }
  .footer .area_address .list_address {
    margin-bottom: 3rem;
  }
  .footer .area_address .list_address .list_address_item {
    margin-bottom: 0.7rem;
    line-height: 1.2;
  }
  .footer .area_address .list_address .list_address_item:last-of-type {
    margin-bottom: 0;
  }
  .footer .area_other_logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1.2rem;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .footer .area_other_logo img {
    margin: 0 auto;
  }
  .footer .area_other_logo img:nth-of-type(1) {
    height: 2.6rem;
  }
  .footer .area_other_logo img:nth-of-type(2) {
    height: 2.6rem;
    margin-left: 4rem;
  }
  .footer .area_links {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 5rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer .area_links .wrap_select_family {
    position: relative;
    background-color: transparent;
    width: 20rem;
    height: 4rem;
    line-height: 3.8rem;
    background-image: url("../img/icon/icon_chevron_down_gray.svg");
    padding: 0 3.1rem 0 0;
    background-position: center right 14px;
    background-repeat: no-repeat;
    background-size: 1.2rem 0.7rem;
    background-size: 1.5rem 0.7rem;
    border: 1px solid #777;
    font-size: 1.4rem;
    border-radius: 2px;
    color: #aaa;
    cursor: pointer;
  }
  .footer .area_links .wrap_select_family.toggle {
    background-image: url("../img/icon/icon_chevron_up_gray.svg");
  }
  .footer .area_links .wrap_select_family ul {
    background: #333;
    border: 1px solid #777;
    border-bottom: 0;
    bottom: 40px;
    left: 0;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    display: none;
    text-align: left;
  }
  .footer .area_links .wrap_select_family ul li {
    margin-bottom: 10px;
  }
  .footer .area_links .wrap_select_family ul li:last-child {
    margin-bottom: 0;
  }
  .footer .area_links .wrap_select_family ul li a {
    color: #aaa;
    display: block;
    padding: 0 19px;
  }
  .section.service .page_service .cs .box figure {
    width: 100%;
  }
}
@media all and (max-width: 769px) {
  .only_mob {
    display: block;
  }
  .mo_img,
  img.only_mob {
    width: 100%;
  }
  .only_pc {
    display: none;
  }
  .main {
    padding: 0 1.6rem;
  }
  .page_title {
    margin-bottom: 3rem;
    font-size: 26px;
  }
  .page_title.page_title_list {
    font-size: 28px;
  }
  .page {
    padding-bottom: 5.5rem;
  }
  /* 푸터 영역  */
  .footer {
    font-size: 14px;
    height: unset;
  }
  .footer .inner {
    width: 100%;
    padding: 2.4rem 1.5rem 5rem;
  }
  .footer .area_links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 4rem;
    gap: unset;
  }
  .footer .area_links .list_link {
    width: unset;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2rem auto;
  }
  .footer .area_links .list_link .list_link_item {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-right: none;
  }
  .footer .area_links .list_link .list_link_item:nth-of-type(1) {
    padding-left: 0;
  }
  .footer .area_links .list_link .list_link_item:nth-last-of-type(1) {
    border-right: none;
    padding-right: 0;
    padding-right: 1.5rem;
  }
  .footer .select_family {
    width: 16rem;
    height: 3rem;
    background-size: 0.9rem 0.5rem;
    padding: 0 2.3rem 0 1.4rem;
    background-position: center right 2.3rem;
  }
  .footer .wrap_select_family {
    font-size: 14px;
  }
  .footer .wrap_bottom {
    margin-top: 0;
    text-align: center;
  }
  .footer .wrap_bottom .area_logo {
    width: 100%;
    margin: 2rem auto;
  }
  .footer .wrap_bottom .area_logo img {
    width: auto;
    height: 2.8rem;
    margin: auto;
  }
  /* table_list  */
  .page_content .wrap_table {
    max-width: 100%;
  }
}
/* mobile 규격  ( 모바일 기기 _ 실 사이즈 480px 미만의 모든 디바이스 ) */
@media all and (max-width: 481px) {
  .section {
    width: 100%;
  }
  .section .page_content {
    margin-bottom: 3rem;
  }
  .main {
    width: 100%;
    min-height: unset;
    margin-top: unset;
    padding-top: 4rem;
  }
  /* 상단 카테고리 타이틀 영역  */
  .section_title {
    height: 13.5rem;
    background-size: auto;
  }
  .section_title h2 {
    font-size: 20px;
  }
  .section_title .service h4 {
    font-size: 16px;
  }
  .section_title .service h2 {
    font-size: 20px;
  }
  .page_title.page_title_list {
    font-size: 26px;
  }
  .page {
    margin-top: 0;
    padding-bottom: 5.5rem;
  }
  .page_title {
    word-break: keep-all;
  }
  /* 푸터 영역  */
  .footer {
    font-size: 14px;
    height: unset;
  }
  .footer .inner {
    width: unset;
  }
  .footer .area_links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 4.9rem;
    gap: unset;
  }
  .footer .area_links .list_link {
    width: 34rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2rem auto 0.6rem;
  }
  .footer .area_links .list_link .list_link_item {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-right: none;
  }
  .footer .area_links .list_link .list_link_item:nth-of-type(1) {
    padding-left: 0;
  }
  .footer .area_links .list_link .list_link_item:nth-last-of-type(1) {
    border-right: none;
    padding-right: 0;
    padding-right: 1.5rem;
  }
  .footer .select_family {
    width: 16rem;
    height: 3rem;
    background-size: 0.9rem 0.5rem;
    padding: 0 2.3rem 0 1.4rem;
    background-position: center right 2.3rem;
  }
  .footer .wrap_select_family {
    width: 16rem;
    font-size: 12px;
    height: 3rem;
    line-height: 2.8rem;
    background-position: center right 15px;
    padding-right: 2.4rem;
  }
  .footer .wrap_select_family ul {
    bottom: 29px;
  }
  .footer .wrap_bottom {
    margin-top: 0;
    text-align: center;
  }
  .footer .wrap_bottom .area_logo {
    width: 100%;
    margin: 2rem auto;
  }
  .footer .wrap_bottom .area_logo img {
    width: auto;
    height: 2.8rem;
    margin: auto;
  }
}
/* mobile em 추가 */
@media all and (max-width: 340px) {
  html,
  body {
    font-size: 9px;
  }
  body {
    font-size: 0.9em;
  }
  .table {
    font-size: 0.9em;
  }
  .footer {
    font-size: 0.9em;
  }
}